pre {
  background: #ddd;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  white-space: pre;
}

code {
  margin-top: 5px;
}

.strikethrough:checked + .task {
  text-decoration: line-through;
}

input.form-check-input.strikethrough {
  margin-left: -43px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: baskerville, serif;
  margin-bottom: 0;
}

body,
p {
  font-family: 'avenir next', avenir, sans-serif;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}
